# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Logs
logs/
logs_backup/
*.log


# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
