<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Структура турнира</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/structure.css') }}">
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 id="structure-title">Структура турнира</h1>
        <div class="table-container">
            <table id="structure-table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Время</th>
                        <th>SB</th>
                        <th>BB</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="structure-body"></tbody>
            </table>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/structure.js') }}"></script>
</body>
</html>